# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.u2d
*.sdf
*.user
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
log.txt
cnaf.debug_gnu
cnaf.debug_ifort
cnaf.perf_gnu
cnaf.perf_gnu_avx
cnaf.perf_ifort
cnaf.perf_scal
fermi.debug_gnu
fermi.debug_xl
fermi.perf
fermi.scal
eurora.perf
galileo.perf
galileo.gnu
juqueen.perf
plx.perf
cygwin.perf
galileo.ifort
marconi.perf
marconi.gnu
*~
opt_report.txt
*.optrpt
*epic.txt
*opic.txt
src/*.nml
packages
*.opendb
*.pdb
bin/
obj/
*.VC.db

