# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.u2d
*.sdf
*.user
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store

cnaf.debug_gnu
cnaf.debug_ifort
cnaf.perf_gnu
cnaf.perf_gnu_avx
cnaf.perf_ifort
cnaf.perf_scal
galileo.perf
galileo.gnu
juqueen.perf
galileo.ifort
marconi.perf
marconi.gnu

opt_report.txt
*.optrpt
src/My Advisor XE Results - ALaDyn/

build_gcc/
build/
bin/

.project
*.nml
index.md
